/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

.flex {
    display: flex;
}

.stb.left-0 {
    left: 0;
}

/* Generics */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    cursor: pointer;
}

h5 {
    margin-top: 10px;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
}

h6 {
    margin-bottom: 10px;
}


.redp {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.linep {
    text-decoration: line-through;
    font-size: 14px;
}


/* Header */

header {
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

ol {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 14px;
}

#logo {
    height: 30px;
}

.right {
    gap: 10px;
}

/* Main */


.row {
    gap: 10px;
    margin-bottom: 30px;
}

.col {
    flex-basis: calc(100% / 3);
}

.card {
    position: relative;
}

.heart {
    background-color: white;
    padding: 2px 15px;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}

.heart:hover {
    color: red;
}

.discount {
    background-color: red;
    padding: 3px 12px;
    font-size: 13px;
    position: absolute;
    bottom: 40px;
    left: 0;
    color: white;
}

.stb {
    background-color: green;
    padding: 3px 12px;
    font-size: 13px;
    position: absolute;
    bottom: 40px;
    left: 60px;
    color: white;
}

#top-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}

#top-img:hover {
    opacity: 1;
}

/* Footer */

footer {
    background-color: #1A1A1A;
}

.footer-bar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px 0;
}

.logos {
    font-size: 20px;
}












